@charset "UTF-8";

@font-face {

    font-family: "fonte-web";
    src: url(../fontes/pala.ttf) format("trutype");
}

:root {

    --fonte-web: 'fonte-web, verdana, sans-serif';
}

body {

    font-family: var(--fonte-web);

    font-size: 2.5em;
}