@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div#container {

    margin: auto;
    width: 950px;
    height: 100vh;
    background-color: rgba(176, 176, 109, 0.317);
    margin-top: 10px;
}

header {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-image: url(../img/fundo-verde-1.jpg);
    height: 120px;
    padding-top: 5px;
    
}

.cubo {

    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    margin-right: -90px;
    margin-left: 50px;

}

h1 {

    margin-right: 115px;
    color: white;
}

nav > ul {

    display: flex;
    gap: 20px;
    margin-right: 27px;
   
}

nav >ul >li {

    display: inline-block;
    color: white;
    border-radius: 0 7px 0 7px;
    background-color: rgba(245, 245, 220, 0.497);
    padding: 5px 7px 5px 7px;
}

div.borda {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    border: 3px solid black;
    width: 95%;
    height: 120px;
    margin: auto;
}
